<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.autumn.auth.mapper.RoleMapper">

    <select id="listPage" resultType="com.autumn.auth.model.vo.RoleVo">
        select role.id, role.role_name, role.role, role.status, role.remark, role.create_time, role.update_time
        from role
        <where>
            <if test="query.roleName != null and query.roleName != ''">
                AND role.role_name LIKE CONCAT(CONCAT('%', #{query.roleName}),'%')
            </if>

            <if test="query.role != null and query.role != ''">
                AND role.role LIKE CONCAT(CONCAT('%', #{query.role}),'%')
            </if>
            <if test="query.status != null">
                AND role.status = #{query.status}
            </if>
        </where>
    </select>
</mapper>